.teams__template{
	position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
	.grid__section{
		position: relative;
		.grid__wrapper{
			position: relative;
			padding: 0 40px 40px;
			.grid{
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 40px;
				overflow: hidden;
				@media #{$tablet}{
					grid-template-columns: repeat(3, 1fr);
				}
				@media #{$mobile}{
					grid-template-columns: repeat(2, 1fr);
				}
				@media #{$cell}{
					grid-template-columns: 1fr;
				}
				> .grid__team_item{
					position: relative;
					height: auto;
					padding: 20px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					outline: none;
					background-color: rgba(255, 255, 255, 0.6);
					overflow: hidden;
					box-shadow: 5px 5px 10px #555;
					border: 1px solid black;
					&:hover{
						background-color: lightblue;
						.grid__item_content{
							img{
								transform: scale(1.5) translateY(10px) translateZ(0);
								opacity: 1;
							}
							.grid__team_info{
								opacity: 0;
							}
						}
					}
					.grid__item_content{
						position: relative;
						display: flex;
						flex-direction: column;
						align-items: center;
						img{
							position: relative;
							max-height: 160px;
							width: 90%;
							transition: all $time ease;
							opacity: 1;
							transform: scale(1) translateY(0) translateZ(0);
							pointer-events: none;

						}
						.grid__team_info{
							display: block;
							width: 100%;
							margin-top: 10px;
							align-items: center;
							justify-content: center;
							font-family: var(--perm-font);
							color: black;
							transition: opacity $time ease;
							text-transform: uppercase;
							font-size: 20px;
							text-align: center;
						}
					}
				}
			}
		}
		.grid__loading{
			position: fixed;
			width: 100%;
			height: 100vh;
			background-color: rgba(255,255,255,0.5);
			top: 0;
			left: 0;
			z-index: 999;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}