.teams__template{
	background-color: var(--main-bg-color);
	width: 100%;
	height: auto;
	background-image: url('../../images/ice.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.grid__section{
		position: relative;
		.grid__wrapper{
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 40px;
			padding: 40px;
			> .grid__team_item{
				position: relative;
				height: 230px;
				padding: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				text-decoration: none;
				outline: none;
				&:hover{
					// box-shadow: 12px 12px 29px #555;
					img{
						transform: scale(1.2);
						opacity: 1;
					}
				}
				img{
					max-height: 200px;
					width: 100%;
					transition: all $time ease;
					opacity: 0.6;
					pointer-events: none;
				}
				.grid__team_info{
					margin-top: 10px;
					display: none;
					align-items: center;
					justify-content: center;
					font-family: var(--nhl-font);
					color: black;
					text-transform: uppercase;
					font-size: 20px;
				}
			}
			.modal{
				position: fixed;
				background-image: url('../../images/ice2.jpg');
				width: 75vw;
				height: calc(100vh - 100px);
				top: 50px;
				left: 50%;
				transform: translate(-50%, 0);
				opacity: 0;
				z-index: -10;
				transition: opacity $time ease;
				overflow: hidden;
				border-radius: 10px;
				button{
					position: fixed;
					right: 10px;
					top: 10px;
					z-index: 10;
				}
				.modal-open &{
					opacity: 1;
					z-index: 9999;
				}
				.modal__team_logo{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					height: 75vh;
					opacity: 0.5;
				}
				.modal__wrapper::-webkit-scrollbar{
					width: 10px;
					border-radius: 5px;
				}

				.modal__wrapper::-webkit-scrollbar-track {
					border-radius: 5px;
				}
				 
				.modal__wrapper::-webkit-scrollbar-thumb {
					background: transparent; 
					border-radius: 5px;
				}

				.modal__wrapper::-webkit-scrollbar-thumb:hover {
					background: grey; 
				}
				.modal__wrapper{
					padding: 20px;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					overflow: auto;
					height: calc(100vh - 130px);
					> .modal__player_item{
						position: relative;
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 15px;
						img{
							width: 168px;
							max-height: 168px;
							background-color: rgba(255,255,255,0.5);
							box-shadow: 5px 5px 10px #555;
						}
						.modal__player_info{
							color: black;
							margin-top: 10px;
							font-family: var(--perm-font);
						}
						.modal__player_jersey{
							color: black;
							display: flex;
							align-items: center;
							justify-content: center;
							font-family: var(--perm-font);
							font-size: 25px;
						}
					}
				}
			}
		}
		.grid__loading{
			position: fixed;
			width: 100%;
			height: 100vh;
			background-color: rgba(255,255,255,0.5);
			top: 0;
			left: 0;
			z-index: 999;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}