header{
	background-color: white;
	position: relative;
	z-index: 1000;
	.menu__wrapper{
		position: relative;
		display: block;
		width: 100%;
		overflow: hidden;
		height: auto;
		margin: 0 auto;
		.menu__top{
			background-color: black;
			padding: 10px 20px;
			&_wrapper{
				display: flex;
				justify-content: space-between;
				max-width: 1440px;
				margin: 0 auto;
				.menu__top_left{
					a{
						display: inline-block;
						text-decoration: none;
						text-transform: uppercase;
						font-size: 12px;
						font-weight: 700;
						color: white;
						font-family: var(--perm-font);
						+ a{
							margin-left: 10px;
						}
					}
				}
				.menu__top_right{
					.socials{
						display: flex;
						li{
							+ li{
								margin-left: 10px;
							}
							> a{
								font-size: 14px;
								font-weight: 700;
								font-family: var(--perm-font);
								color: white;
								display: block;
							}
						}
					}
				}
			}
		}
		.menu__main{
			position: fixed;
			top: 0;
			width: 100%;
			&_wrapper{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 auto;
				.menu__logo{
					width: 100px;
					display: flex;
					justify-content: center;
					transition: opacity $time ease;
					outline: none;
					&:hover{
						opacity: 0.5;
					}
					img{
						width: 80px;
					}
				}
				.menu__main_nav{
					width: calc(100% - 100px);
					ul{
						display: flex;
						margin: 0 40px;
						li{
							position: relative;
							width: auto;
							text-align: center;
							+ li{
								margin-left: 40px;
							}
							> a{
								text-decoration: none;
								text-transform: uppercase;
								color: black;
								display: block;
								font-size: var(--size-normal);
								font-family: var(--perm-font);
								transition: background-color $time ease;
								&.active{
									color: blue;
								}
								&:hover{
									color: white;
								}
							}
						}
					}
				}
			}
		}
	}
}