header{
	background-color: white;
	position: relative;
	z-index: 1000;
	.menu__wrapper{
		position: relative;
		display: block;
		width: 100%;
		overflow: hidden;
		height: auto;
		margin: 0 auto;
		.menu__top{
			background-color: black;
			padding: 10px 20px;
			&_wrapper{
				display: flex;
				justify-content: space-between;
				max-width: 1440px;
				margin: 0 auto;
				.menu__top_left{
					a{
						display: inline-block;
						text-decoration: none;
						font-size: 14px;
						font-weight: 700;
						color: white;
						font-family: 'arial';
						+ a{
							margin-left: 10px;
						}
					}
				}
				.menu__top_right{
					.socials{
						display: flex;
						li{
							+ li{
								margin-left: 10px;
							}
							> a{
								font-size: 14px;
								font-weight: 700;
								font-family: 'arial';
								color: white;
								display: block;
							}
						}
					}
				}
			}
		}
		.menu__main{
			width: 100%;
			&_wrapper{
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 1440px;
				margin: 0 auto;
				border-top: 3px solid black;
				border-bottom: 3px solid black;
				.menu__logo{
					width: 100px;
					display: flex;
					justify-content: center;
					transition: background-color $time ease;
					&:hover{
						background-color: black;
					}
					img{
						width: 50px;
					}
				}
				.menu__main_nav{
					width: calc(100% - 100px);
					ul{
						display: flex;
						justify-content: space-around;
						border-left: 3px solid black;
						li{
							position: relative;
							width: 33.33%;
							text-align: center;
							+ li{
								border-left: 3px solid black;
							}
							> a{
								text-decoration: none;
								text-transform: uppercase;
								color: black;
								display: block;
								font-size: var(--size-normal);
								font-family: var(--nhl-font);
								padding: 15px 0;
								transition: background-color $time ease;
								&.active{
									background-color: grey;
									color: black;
								}
								&:hover{
									background-color: black;
									color: white;
								}
							}
						}
					}
				}
			}
		}
	}
}